<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "What are you wondering today?" %>
    <%= f.text_field :content %><br /><br />
  </div>

  <p><b> And what are the alternatives to choose from? </b></p>

  <%= f.fields_for :choices do |builder| %>
	<%= render "choices_fields", :f => builder %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
