<h1>Listing dislikes</h1>

<table>
  <tr>
    <th>Comment</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dislikes.each do |dislike| %>
  <tr>
    <td><%= dislike.comment_id %></td>
    <td><%= dislike.user_id %></td>
    <td><%= link_to 'Show', dislike %></td>
    <td><%= link_to 'Edit', edit_dislike_path(dislike) %></td>
    <td><%= link_to 'Destroy', dislike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dislike', new_dislike_path %>
