<div class="bubble">
	<div class="span1" align="right">
		<%= gravatar_for(comment.user, size: 15) %> 
	</div>
	<div class="span8" align="left">
		<b><%= comment.user.username %></b>
	</div>
	<div class="span1" align="right">
		<%= button_to ["+", comment.likes.length], {:controller => :likes, :action => :create, :comment_id => comment.id}, :class => "smallButton" %>
	</div>
	<div class="span1 offset1" align="right">
		<%= button_to ["-", comment.dislikes.length], {:controller => :dislikes, :action => :create, :comment_id => comment.id}, :class => "smallButton" %>
	</div>
	<div class="span11" align="center">
		<%= comment.content %>
	</div>
	<br>
	<br>
	<br>	
</div>
